<footer class="footer pt-8 bg-blue-dark border-t-4 border-green md:pt-16"><div class="container"><div class="relative md:flex md:flex-wrap"><div class="mb-8 md:w-1/2 md:pr-4 xl:w-2/7 xl:pr-10"><a href="https://simex.global/ru" class="inline-block"><img src="https://ucarecdn.com/52c26e56-d868-4da9-a09b-1d9090f8b8e8/-/resize/300x/" alt="SIMEX" class="h-8 w-auto mb-4"></a> <p class="text-white opacity-50">
                    Simex - это многофункциональная онлайн-платформа для обмена цифровыми активами и инвестиций в ICO проекты, краудинвестинг. Переводы между счетами пользователей, пополнение/снятие средств с дебетовых карт, включая платежи третьим лицам.
                </p></div> <div class="flex flex-wrap md:w-1/2 xl:w-4/7"><div class="w-1/2 xl:w-1/4"><div class="mb-4 uppercase font-medium text-white">
                        Продукты
                    </div> <ul class="list-reset mb-8"><li class="mb-4"><a href="https://simex.global/ru/for-investors" title="Информация для инвесторов" class="block text-white no-underline hover:text-green active:text-green">
                                Инвесторам
                            </a></li> <li class="mb-4"><a href="https://simex.global/ru/for-companies" title="Информация для бизнеса" class="block text-white no-underline hover:text-green active:text-green">
                                Бизнесу
                            </a></li> <li class="mb-4"><a href="https://simex.global/ru/projects" title="Информация для проектов" class="block text-white no-underline hover:text-green active:text-green">
                                Проекты
                            </a></li> <li class="mb-4"><a href="https://simex.global/ru/exchange" title="Информация о бирже" class="block text-white no-underline hover:text-green active:text-green">
                                Торги
                            </a></li> <li class="mb-4"><a href="https://simex.global/ru/docs" title="SIMEX API" class="block text-white no-underline hover:text-green active:text-green">
                                API
                            </a></li></ul></div> <div class="w-1/2 xl:w-1/4"><div class="mb-4 uppercase font-medium text-white">
                        Компания
                    </div> <ul class="list-reset mb-8"><li class="mb-4"><a href="https://simex.global/ru/about" title="Информация о SIMEX" class="block text-white no-underline hover:text-green active:text-green">
                                О SIMEX
                            </a></li> <li class="mb-4"><a href="https://simex.global/ru/payment" title="Информация о платежах" class="block text-white no-underline hover:text-green active:text-green">
                                Процесс оплаты
                            </a></li> <li class="mb-4"><a href="https://simex.global/ru/contracts" title="Инорфмация о конфиденциальности" class="block text-white no-underline hover:text-green active:text-green">
                                Юридическая информация и конфиденциальность
                            </a></li> <li class="mb-4"><a href="https://simex.global/ru/contacts" title="Контактная информация" class="block text-white no-underline hover:text-green active:text-green">
                                Контакты
                            </a></li></ul></div> <div class="w-1/2 xl:w-1/4"><div class="mb-4 uppercase font-medium text-white">
                        Помощь
                    </div> <ul class="list-reset mb-8"><li class="mb-4"><a href="https://simex.global/ru/faq" title="SIMEX FAQ" class="block text-white no-underline hover:text-green active:text-green">
                                FAQ
                            </a></li> <li class="mb-4"><a href="https://simex.global/ru/trading-fees" title="SIMEX Комиссия" class="block text-white no-underline hover:text-green active:text-green">
                                    Комиссия
                                </a></li> <li class="mb-4"><a href="https://simex.global/ru/contacts" title="Служба поддержки SIMEX" class="block text-white no-underline hover:text-green active:text-green">
                                Поддержка
                            </a></li> <li class="mb-4"><a href="https://simex.global/ru/news" title="Новости SIMEX" class="block text-white no-underline hover:text-green active:text-green">
                                Новости
                            </a></li> <li class="mb-4"><a href="https://simex.global/ru/blog" title="SIMEX Блог" class="block text-white no-underline hover:text-green active:text-green">
                                Блог
                            </a></li></ul></div> <div class="w-1/2 xl:w-1/4"><div class="mb-4 uppercase font-medium text-white">
                        Языки
                    </div> <ul class="list-reset mb-8"><li class="mb-4"><a href="https://simex.global/en" title="English" class="block text-white no-underline hover:text-green active:text-green"><span class="inline-block mr-2 flag-icon flag-icon-us"></span>
                                    English
                                </a></li> <li class="mb-4"><a href="https://simex.global/ru" title="Русский" class="block text-white no-underline hover:text-green active:text-green"><span class="inline-block mr-2 flag-icon flag-icon-ru"></span>
                                    Русский
                                </a></li> <li class="mb-4"><a href="https://simex.global/hi" title="हिन्दी" class="block text-white no-underline hover:text-green active:text-green"><span class="inline-block mr-2 flag-icon flag-icon-in"></span>
                                    हिन्दी
                                </a></li> <li class="mb-4"><a href="https://simex.global/ko" title="한국어" class="block text-white no-underline hover:text-green active:text-green"><span class="inline-block mr-2 flag-icon flag-icon-kr"></span>
                                    한국어
                                </a></li></ul></div></div> <div class="md:w-1/2 md:-mt-56 xl:mt-0 xl:w-1/7"><div class="inline-block w-1/2 md:w-auto xl:w-full"><div class="mb-4 uppercase font-medium text-white">
                        Подписывайтесь на нас
                    </div> <ul class="list-reset mb-8 md:flex md:flex-wrap md:mb-4"><li class="mb-2 md:w-1/2 xl:w-full"><a href="https://www.facebook.com/simex.global" title="SIMEX Facebook" rel="nofollow" class="block text-white no-underline hover:text-green active:text-green"><span class="inline-flex items-center justify-center w-8 h-8 mr-2 rounded-full bg-blue-light text-center"><i class="fab fa-facebook-f text-white"></i></span>

                                Facebook
                            </a></li> <li class="mb-2 md:w-1/2 xl:w-full"><a href="https://instagram.com/simex.global" title="SIMEX Instagram" rel="nofollow" class="block text-white no-underline hover:text-green active:text-green"><span class="inline-flex items-center justify-center w-8 h-8 mr-2 rounded-full bg-blue-light text-center"><i class="fab fa-instagram text-white"></i></span>

                                Instagram
                            </a></li> <li class="mb-2 md:w-1/2 xl:w-full"><a href="https://vk.com/simex_invest" title="SIMEX Vkontakte" rel="nofollow" class="block text-white no-underline hover:text-green active:text-green"><span class="inline-flex items-center justify-center w-8 h-8 mr-2 rounded-full bg-blue-light text-center"><i class="fab fa-vk text-white"></i></span>

                                Vkontakte
                            </a></li> <li class="mb-2 md:w-1/2 xl:w-full"><a href="https://twitter.com/simexinvest" title="SIMEX Twitter" rel="nofollow" class="block text-white no-underline hover:text-green active:text-green"><span class="inline-flex items-center justify-center w-8 h-8 mr-2 rounded-full bg-blue-light text-center"><i class="fab fa-twitter text-white"></i></span>

                                Twitter
                            </a></li> <li class="mb-2 md:w-1/2 xl:w-full"><a href="https://www.youtube.com/channel/UCGg6Bhbqhn6hlsqUlsWKXjw/videos" title="SIMEX YouTube" rel="nofollow" class="block text-white no-underline hover:text-green active:text-green"><span class="inline-flex items-center justify-center w-8 h-8 mr-2 rounded-full bg-blue-light text-center"><i class="fab fa-youtube text-white"></i></span>

                                YouTube
                            </a></li></ul></div></div> <div class="absolute w-1/2 pin-r pin-b h-48 opacity-50
                        md:relative md:pin-none md:w-full md:h-auto md:pt-8 md:pb-2"><div class="hidden md:block h-px bg-white opacity-25 absolute pin-t pin-l w-full"></div> <div class="mb-4 md:inline-block md:mr-8 align-middle"><img src="https://ucarecdn.com/3cea5472-f2b8-44b7-b05d-686292b3568b/" class="max-w-full h-auto"></div> <div class="mb-4 md:inline-block md:mr-8 align-middle"><img src="https://ucarecdn.com/ee835c2d-8090-4984-aec1-f7d4e840c763/" class="max-w-full h-auto"></div> <div class="mb-4 md:inline-block md:mr-8 align-middle"><img src="https://ucarecdn.com/e4552210-fefa-4212-8932-e3a19e918b28/-/resize/50x/" class="max-w-full h-auto"></div></div></div></div> <div class="bg-blue-darker py-4 text-center opacity-50"><div class="container"><div class="md:flex md:justify-between"><div class="text-white text-3 mb-2 md:mb-0">
                    © SIMEX 2018, Все права защищены.
                </div> <a href="https://simex.global/ru" title="SIMEX Платформа для обмена цифровыми активами" class="text-white text-3 no-underline">
                    Платформа для обмена цифровыми активами
                </a></div></div></div></footer>