@tailwind preflight;
@tailwind components;

@import 'components/app';
@import 'components/base';
@import 'components/utilities';


@import 'pages/home';
 
@tailwind utilities;

.header-faq {
    background: url("../img/faq-bg.jpg") no-repeat center center;
    background-size: cover;
}
.header-news {
    background: url("../img/news-bg.jpg") no-repeat center center;
    background-size: cover; 
}
.header-progect {
    background: url("../img/progect-bg.jpg") no-repeat center center;
    background-size: cover; 
}

.content  { 
    h1 {
        @apply font-bold uppercase text-8 pb-6  border-grey-light border-b mb-6;
    }
    a {
    	@apply text-4 text-blue no-underline;
    	&:hover {
    		@apply underline; 
    	}
    }
    &__linck {
    	a {
    		@apply mb-2 block;
    	}
    }
    h2 {
    	@apply text-8 font-medium mb-4;
    }
    h3 {
    	@apply text-6 font-medium mb-4;
    }
    h4 {
    	@apply text-5 font-medium mb-4;
    }
    h5 {
    	@apply text-4 font-medium mb-4;
    }
    h6 {
    	@apply text-3 font-medium mb-4;
    }
    p {
    	@apply text-4 mb-4 text-grey;
    }
    ul {
    	list-style-type: disc;
    	@apply pl-4;
    	
    	li {
    		@apply text-4 mb-2 text-grey ; 
    	}
    }
    ol {
    	list-style-type: decimal;
    	@apply pl-4;
    	li {
    		@apply text-4 mb-2 text-grey ; 
    	}
    }
}
.news-filter-active {
    @apply border-green;
    i {
        @apply text-green;
    }
    p {
        @apply text-green;
    }
    .news-filter-tr {
        @apply block;
    }
}

.news-item {
    &:hover {
        @apply bg-green shadow-none;
        p {
            @apply text-white;
        }
        h3 {
            @apply text-white;
        }
        span {
            @apply text-white border-white;
        }
        .news-data {
            @apply bg-green;
            i {
                @apply text-white;
            }
            span {
                @apply text-white;
            }
        }
    }
}
.bg-form-blue {
    background: url("../img/form-news-bg.jpg") no-repeat center center;
    background-size: cover;
}
.icon-form-logo-text {
    width: 68px;
    height: 68px;
    background: url("../img/icon-form-logo-text.png") no-repeat center center;
    background-size: cover;
    display: inline-block;
}
.icon-form {
    width: 26px;
    height: 13px;
    background: url("../img/icon-mail.png") no-repeat center center;
    background-size: cover;
    display: block;
    top: 18px;
    left: 15px;
}

.progect-item {
  background: #f7f7f7;
}
.star {
  width: 45px;
  right: 15px; 
  top: 12px;
}
.icon-progect-user {
  width: 16px;
  height: 17px;
  display: inline-block;
  background: url("../img/icon-progect-user.png") no-repeat center center;
  background-size: cover;
}
.liner {
  background: url("../img/bg-liner.jpg") ;
}