.app {
    position: relative;
    min-height: 100vh;
    display: flex;

    overflow-x: hidden;
    overflow-y: auto;
    
    flex-direction: column;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
}

.header,
.navbar-menu,
.home-news,
.home-partners,
.footer {
    background-image: url(https://ucarecdn.com/1ee9fe94-1969-4b71-b261-c969722ee3b4/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-menu {
    @screen xl {
        background-image: none;
    }
}

