<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="icon" type="image/png" href="/favicon.png">

	<title>SIMEX | Digital Asset Exchange</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="css/app.css?v=1">
	link(href="css/main.min.css", rel="stylesheet")
</head>
<body>
	<div id="app">
		include ../layout/header-faq.html 
		.py-16
			.container.flex.flex-row.flex-wrap.justify-between
				.block.mb-6(class="w-full md:w-1/4 ")
					.overflow-hidden.rounded.shadow-lg
						a.uppercase.flex.flex-row.flex-wrap.justify-between.text-white.no-underline.bg-green.px-4.py-6.block.text-3(href="#", class="hover:bg-green-light") About
							i.fa.fa-angle-right.text-4.mt-1
						a.uppercase.border-grey-light.border-b.flex.flex-row.flex-wrap.justify-between.text-grey-darker.no-underline.px-4.py-6.block.text-3(href="#", class="hover:text-green") Investment
							i.fa.fa-angle-right.text-4.mt-1
						a.uppercase.border-grey-light.border-b.flex.flex-row.flex-wrap.justify-between.text-grey-darker.no-underline.px-4.py-6.block.text-3(href="#", class="hover:text-green") Projects
							i.fa.fa-angle-right.text-4.mt-1
						a.uppercase.border-grey-light.border-b.flex.flex-row.flex-wrap.justify-between.text-grey-darker.no-underline.px-4.py-6.block.text-3(href="#", class="hover:text-green") Account
							i.fa.fa-angle-right.text-4.mt-1
						a.uppercase.border-grey-light.border-b.flex.flex-row.flex-wrap.justify-between.text-grey-darker.no-underline.px-4.py-6.block.text-3(href="#", class="hover:text-green") Payments
							i.fa.fa-angle-right.text-4.mt-1
						a.uppercase.border-grey-light.border-b.flex.flex-row.flex-wrap.justify-between.text-grey-darker.no-underline.px-4.py-6.block.text-3(href="#", class="hover:text-green") Exchange
							i.fa.fa-angle-right.text-4.mt-1
						a.uppercase.border-grey-light.border-b.flex.flex-row.flex-wrap.justify-between.text-grey-darker.no-underline.px-4.py-6.block.text-3(href="#", class="hover:text-green") Partnership
							i.fa.fa-angle-right.text-4.mt-1
						a.uppercase.border-grey-light.border-b.flex.flex-row.flex-wrap.justify-between.text-grey-darker.no-underline.px-4.py-6.block.text-3(href="#", class="hover:text-green") Simex cards
							i.fa.fa-angle-right.text-4.mt-1
						a.uppercase.border-grey-light.border-b.flex.flex-row.flex-wrap.justify-between.text-grey-darker.no-underline.px-4.py-6.block.text-3(href="#", class="hover:text-green") Verification 
							i.fa.fa-angle-right.text-4.mt-1
				.content.block(class="w-full md:w-3/4 md:pl-12")
					h1 ABout
					.block.content__linck.pb-6.mb-6.border-grey-light.border-b
						a(href="#a1") What is SIMEX?
						a(href="#a2") Platform Functions?
						a(href="#a3") Platform Commissions (since 02/10/2018)?
						a(href="#a4") Income types?
						a(href="#a5") Platform Security?
					#a1.block.pb-6.mb-6.border-grey-light.border-b
						h3 What is SIMEX?
						p SIMEX is an international investment platform aimed at primary and secondary sectors of the economy for beginner and professional investors.
						p The official platform launch date is 3rd of July 2015.
						p In order to register with SIMEX for the purposes of conducting investment activity take a moment to get familiar with our legal documentation 
							a(href="") legal documentation 
							| and terms and conditions for deals made on the platform.
					#a2.block.pb-6.mb-6.border-grey-light.border-b
						h3 Platform Functions? 
						ul 
							li Evaluation and primary audit and screening of investment projects;
							li Admission of online investments;
							li Guidance of investment projects;
							li Investment projects' dividend distribution;
							li Deals registry maintenance and eligibility requirement trading;
							li Legal guidance of deals made on the platform.
					#a3.block.pb-6.mb-6.border-grey-light.border-b
						h3 Platform Commissions (since 02/10/2018)? 
						ol 
							li Trade commissions from secondary bids made with project shares is 1% (0.5% SIMEX commission and 0.5% to the partnership program).
							li Cryptocurrency exchange trade deals commission is 0.2% (the commission is paid by the maker and the taker of an operation).
							li Project creation commission in case of a successful investments acquisition may range from 0.5% up to 10% depending on a project and the terms of its placement on the platform.
							li Dividend distribution commission is 1.5%.
							li Currency exchange commission within the platform is +3% (according to the Central Bank of Russian Federation) for any operations.
					#a4.block.pb-6.mb-6.border-grey-light.border-b
						h3 Income types?
						ul 
							li You may acquire investment shares of any project and take a cut of its profits after said project has been realized;
							li You may acquire investment shares of any project and get revenue from the shares exchange trading;
							li You may invite people and get anywhere between 1% to 15% from the original investment shares purchases made by your partners.
					#a5.block.pb-6.mb-6.border-grey-light.border-b
						h3 Platform Security? 
						p We guarantee legal and technical security to our platform users. Our priority is the safety of our client's financial assets and personal information.
						p We take all the necessary measures essential for a completely safe working conditions within the SIMEX platform, and we have the full commitment to continue testing and improving our security.
						p With that said, it is important for you to be aware there can not be any guaranteed protection of assets and information stored on an individual user's personal computer. Keeping that in mind we recommend you take a number of steps to ensure additional safety:
						ul 
							li Use a high quality antivirus software;
							li Make sure that no one but you has access to the device connected to your personal account or containing your password information for operations conducted on the platform;
							li Treat the security code sent to your mobile phone for accessing the account or verifying financial operations with appropriate confidentiality;
							li Use a strong password containing difficult and random combinations of symbols and numbers for conducting operations on the platform.


			

		include ../layout/footer.html
	</div>
</body>
</html>