<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="icon" type="image/png" href="/favicon.png">

	<title>SIMEX | Digital Asset Exchange</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="css/app.css?v=1">
	link(href="css/main.min.css", rel="stylesheet")
</head>
<body>
	<div id="app">
		include ../layout/header.html
		.block.text-center
			img(src="img/error.png")
		.bg-white.pt-12.pb-12
			.container
				h2.block.mb-8.uppercase.text-center.font-bold.text-8(class="xl:text-9") THIS PAGE HAS NOT BEEN CREATED
				p.mb-4.text-grey-darker.text-center(class="xl:text-5 max-w-lg", style="margin: 0 auto 2rem;") You"ve been redirected to this page because you have entered non-existent address of Crowdinvesting platform "SIMEX".
				.flex.flex-row.justify-center.flex-wrap.max-w-lg(style="margin: 0 auto;")
					a.px-4.py-3.font-bold.bg-white.uppercase.text-center.border-green.border.rounded.text-green.cursor-pointer.mb-4(class="w-1/4") Back
					a.px-4.py-3.border.border-white.rounded.leading-normal.uppercase.text-center.font-bold.bg-green.text-white.whitespace-no-wrap.no-underline.cursor-pointer.ml-4.mr-4.mb-4(class="hover:bg-green-light active:bg-green-light w-1/4") Project List
					a.px-4.py-3.font-bold.bg-white.uppercase.text-center.border-green.border.rounded.text-green.cursor-pointer.mb-4(class="w-1/4") Mane Page
			

		include ../layout/footer.html
	</div>
</body>
</html>