<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="icon" type="image/png" href="/favicon.png">

	<title>SIMEX | Digital Asset Exchange</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="css/app.css?v=1">
	link(href="css/main.min.css", rel="stylesheet")
</head>
<body>
	<div id="app">
		include ../layout/header-progect.html 
		.bg-grey-lighter.mb-12
			.container
				.flex.flex-wrap.justify-between.pt-4.mb-12(class="md:w-3/4 w-full" , style="margin: 0 auto;")
					.news-filter-active.news-filter.border-grey.relative.text-center.cursor-pointer.border-b-2(class="w-1/4")
						.block.bg-grey-lighter.pb-4.z-10.relative
							i.fas.fa-th.text-9.mb-1.text-grey
							p.text-center.text-grey.font-medium All Projects
						.news-filter-tr.hidden.absolute.center-x.w-6.h-6.z-1(style="bottom: -0.8rem;") 
							.news-filter-tr-tr.absolute.pin.bg-green.rotate-45
					.news-filter.border-grey.relative.text-center.cursor-pointer.border-b-2(class="w-1/4")
						.block.bg-grey-lighter.pb-4.z-10.relative
							i.fas.fa-globe.text-9.mb-1.text-grey 
							p.text-center.text-grey.font-medium Go to Public 
						.news-filter-tr.hidden.absolute.center-x.w-6.h-6.z-1(style="bottom: -0.8rem;") 
							.news-filter-tr-tr.absolute.pin.bg-green.rotate-45
					.news-filter.border-grey.relative.text-center.cursor-pointer.border-b-2(class="w-1/4")
						.block.bg-grey-lighter.pb-4.z-10.relative
							i.fas.fa-handshake.text-9.mb-1.text-grey 
							p.text-center.text-grey.font-medium Investments 
						.news-filter-tr.hidden.absolute.center-x.w-6.h-6.z-1(style="bottom: -0.8rem;") 
							.news-filter-tr-tr.absolute.pin.bg-green.rotate-45
					.news-filter.border-grey.relative.text-center.cursor-pointer.border-b-2(class="w-1/4")
						.block.bg-grey-lighter.pb-4.z-10.relative
							i.fas.fa-percent.text-9.mb-1.text-grey 
							p.text-center.text-grey.font-medium Token Sale 
						.news-filter-tr.hidden.absolute.center-x.w-6.h-6.z-1(style="bottom: -0.8rem;") 
							.news-filter-tr-tr.absolute.pin.bg-green.rotate-45
		.bg-white.pb-12
			.container
				.flex.flex-wrap.justify-between.shadow-md.p-px.h-64.bg-grey-lighter
					.relative(class="w-30/100")
						img.pin.absolute.m-auto(src="img/progect-img.png")
						.star.text-4.text-white.text-center.bg-green.pt-1.pb-1.font-bold.rounded-sm.absolute 4.5
					.bg-white.p-4(class="w-70/100")
						.flex.flex-wrap.items-center
							h4.mr-2.text-6.font-bold РЕАКТИВНЫЙ АНГЛИЙСКИЙ
							.flex.flex-wrap.justify-center
								i.fas.fa-star.text-orange.mr-1
								i.fas.fa-star.text-orange.mr-1
								i.fas.fa-star.text-orange.mr-1
								i.fas.fa-star.text-orange.mr-1
								i.fas.fa-star-half-alt.text-orange.mr-1
						p.text-4.font-light.text-grey-dark.mb-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor mollis
							br
							| tortor, a tempor quam facilisis vitae. Nam in posuere augue. Morbi sit amet augue sceler
							br
							| isque, iaculis diam a, egestas est.
						.flex.flex-wrap.border-grey-light.border-solid.border.rounded.mb-4(class="w-4/5")
							.py-3.border-r.border-grey-light.border-solid.bg-grey-lighter(class="w-1/3")
								p.text-center.text-4.font-bold Raised:
									span.text-grey-dark.font-normal  14300 RUB 
							.py-3.border-r.border-grey-light.border-solid(class="w-1/3")
								p.text-center.text-4.font-bold Share Price:
									span.text-grey-dark.font-normal  100 RUB
							.py-3.border-r.border-grey-light.border-solid.bg-grey-lighter(class="w-1/3")
								p.text-center.text-4.font-bold
									i.icon-progect-user.mr-2
									| 9 
									span.text-grey-dark.font-normal  investors
						.flex.flex-wrap.justify-between
							.h-6.relative(class="w-1/2")
								.h-full

							.block(class="w-2/5")










			

		include ../layout/footer.html
	</div>
</body>
</html>