<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="icon" type="image/png" href="/favicon.png">

	<title>SIMEX | Digital Asset Exchange</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="css/app.css?v=1">
	link(href="css/main.min.css", rel="stylesheet")
</head>
<body>
	<div id="app">
		include ../layout/header.html
		.bg-white.mb-12.mt-12
			.container
				.flex.flex-wrap.justify-between.shadow-md.mb-12
					.relative(class="md:w-1/2")
						img(src="img/progect-one-img.jpg")
						.star.text-4.text-white.text-center.bg-green.pt-1.pb-1.font-bold.rounded-sm.absolute 4.5
					.block.pr-4(class="md:w-48/100")
						.flex.flex-wrap.items-center
							h4.mr-2.text-6.font-bold.mb-2 CRYPTO-MONEYMOON DVOR
							.flex.flex-wrap.justify-left.mb-2(class="w-full")
								i.fas.fa-star.text-orange.mr-1
								i.fas.fa-star.text-orange.mr-1
								i.fas.fa-star.text-orange.mr-1
								i.fas.fa-star.text-orange.mr-1
								i.fas.fa-star-half-alt.text-orange.mr-1
						p.text-4.font-light.text-grey-dark.mb-4.overflow-hidden(class="") Mining kriptovalyut on an industrial scale. High probability of multiple return on investment. The estimated service life of the equipment is 3 years.
						p.text-4.font-light.text-grey-dark.mb-4
							i.fas.fa-globe-americas.mr-2.text-green-light
							| Russia, jetenglish.ru 
						p.text-4.font-light.text-grey-dark.mb-4
							i.fas.fa-briefcase.mr-2.text-green-light
							| Investments, Business, Technologies 
						.flex.flex-wrap.border-grey-light.border-solid.border.rounded.mb-4(class="w-full md:w-full ")
							.py-2.border-r.border-grey-light.border-solid.bg-grey-lighter(class="w-full text-left md:w-1/3")
								p.text-4.font-bold.pl-1(class="text-left") Raised:  
									span.text-grey-dark.font-normal(class="block ")  14300 RUB 
							.py-2.border-r.border-grey-light.border-solid(class="w-full text-left md:w-1/3")
								p.text-4.font-bold.pl-1(class="text-left") Share Price:  
									span.text-grey-dark.font-normal(class="block ")   100 RUB 
							.py-2.border-r.border-grey-light.border-solid.bg-grey-lighter(class="w-full text-left md:w-1/3")
								p.text-4.font-bold.pl-1(class="text-left")
									i.icon-progect-user.mr-2
									span.text-grey-dark.font-normal(class="block ")   9  investors
						.flex.flex-wrap.justify-between.items-center(class="w-full ")
							.h-6.relative(class=" w-full  mb-4")
								.h-full.border.rounded-lg.border-solid.border-grey.bg-grey-lighter.pt-px.pl-px.pr-px.pb-px.relative
									.h-full.rounded-lg.border-solid.bg-grey-lighter.liner(style="width: 10.36%;")
									span.absolute.pin-r.text-2.pin-t.pr-2.font-medium.text-grey 10.36 %
							.block(class=" w-full")
								a.block.py-4.rounded.leading-normal.uppercase.text-center.font-bold.bg-blue.text-white.whitespace-no-wrap.no-underline(class="hover:bg-blue-light", href="#") Bargaining
			.bg-grey-lighter.mb-12
				.container
					.flex.flex-wrap.pt-4.mb-12(class=" w-full")
						.news-filter-active.news-filter.border-grey-light.relative.text-center.cursor-pointer.border-b-2(class="w-48	")
							.block.bg-grey-lighter.pb-4.z-10.relative.border-solid.border-r.border-grey-light
								i.fas.fa-file-alt.text-9.mb-1.text-grey
								p.text-center.text-grey.font-medium Description 
							.news-filter-tr.hidden.absolute.center-x.w-6.h-6.z-1(style="bottom: -0.8rem;") 
								.news-filter-tr-tr.absolute.pin.bg-green.rotate-45
						.news-filter.border-grey-light.relative.text-center.cursor-pointer.border-b-2(class="w-48	")
							.block.bg-grey-lighter.pb-4.z-10.relative.border-solid.border-r.border-grey-light
								i.fas.fa-list.text-9.mb-1.text-grey 
								p.text-center.text-grey.font-medium News   
							.news-filter-tr.hidden.absolute.center-x.w-6.h-6.z-1(style="bottom: -0.8rem;") 
								.news-filter-tr-tr.absolute.pin.bg-green.rotate-45
						.news-filter.border-grey-light.relative.text-center.cursor-pointer.border-b-2(class="w-48	")
							.block.bg-grey-lighter.pb-4.z-10.relative
								i.fas.fa-comment-alt.text-9.mb-1.text-grey 
								p.text-center.text-grey.font-medium Discussions 
							.news-filter-tr.hidden.absolute.center-x.w-6.h-6.z-1(style="bottom: -0.8rem;") 
								.news-filter-tr-tr.absolute.pin.bg-green.rotate-45
			.bg-white.mb-12
				.container
					.flex.flex-wrap.justify-between
						.progect-one-text.pr-8(class="w-2/3")
							p IMPORTANT! We realize that the crypto-currency, as a variant of collective investment, is badly damaged by reputation. Since this topic was mercilessly exploited and continues to be exploited by various unscrupulous "project engineers". However, it should be understood that most often, in the context of HYIPs, truly high-yielding trend trends are exploited as legend, but in view of initially different goals, laziness, or an elementary inability to organize a real process, they choose a much easier path. The Siberian Kryptomonetny Dvor is our attempt to look at mining as a normal business process: we acquire, configure and launch equipment that processes information for a conditional customer, for which we are paid. There are some new nuances that you need to know, pitfalls, which you need to be able to bypass, the costs that you need to try to reduce - that is, everything, as in ordinary business. We do not overestimate the possible profitability, only dry statistics and a statement of public facts. We will be open to all investors - we will always be able to communicate personally, visit us, see equipment, etc.
							h2 1.0 TEASER.
							p Acquisition of equipment for mining of crypto-currency (GPU) with a total capacity of 2.5 Gh \ s, as part of the project on mining on an industrial scale Siberian Crypto-Mint (Siberian Crypto Mint) (Siberian Crypto Mint - SibCryptMint). Absence of buy-back shares - dividends for the duration of the life of the project (until the insuperable "outlet level" for this equipment configuration). Calculated multiple return on investment.
							p This project is for you if:
							p - You understand what the speech is about, understand the prospect, but because of your basic employment in another sphere, you will hardly be engaged in mining yourself.
							p - You do not understand very well what you are talking about, but as an active investor you are trying various investment options.
							p - You yourself look narrowly at the mining, but do not dare to purchase expensive equipment. In this case - this project gives you the opportunity to "feel the ground" and on a living example to evaluate the profitability and prospects.
							p "You are a skeptical hetter." In this case, even the only investment project of the project will give you the opportunity to formally express your skepticism in the discussions. For we can not deny a person in his most important sociogenic need - the need for communication ...
							h2 2.0 LICKBEZ, GREETING AND INTRODUCTION.
							p ** Before proceeding with the description of the project, it must warn in advance that part of the audience that is well versed in the topic of crypto-currency, blocking , mining, etc .: the project is described in the most accessible language for as wide a range of audiences as possible that part of it that either first collides with similar terms, as well as technologies and phenomena behind them, or is only familiar with them by hearsay. We deliberately do not disclose all the technical nuances of the project and do not delve into the jungle, as potential investors need to understand the essence of the project, to know how much they can earn, and also to be sure that they will not lose everything if "something goes wrong" ".
							p - Crypto currency - e-currency, created on the basis of blockchain technology; 
							p - Blockchain - distributed database of data storage (a multiple-repeated history of all transactions) and a payment system on the basis of which settlements are performed and crypto-currencies function; 
							p - Mining - the process of extraction (earnings) of crypto-currency, by performing mathematical calculations with your equipment to ensure the safety and operability of the network; 
							p - Mining - the process of extraction (earnings) of crypto-currency, by performing mathematical calculations with your equipment to ensure the safety and operability of the network; 
							p - ethereum (etherium, "ether") - relatively new (about 3 years on the market), but very promising crypto currency, has a number of advantages over Bitcoin, which allows it to develop quite rapidly; 
							p - ethereum (etherium, "ether") - relatively new (about 3 years on the market), but very promising crypto currency, has a number of advantages over Bitcoin, which allows it to develop quite rapidly; 
							a(href="#" , class="inline-block px-8 py-3 border border-white rounded leading-normal uppercase text-center font-bold bg-green text-white whitespace-no-wrap no-underline active:bg-green-light hover:bg-green-light") Read More
						.block(class="w-1/3")
							.shadow-md.mb-8
								.rounded.pl-4.py-4.bg-blue-light.rounded-b-none
									h3.text-4.text-white.uppercase.font-bold Finance
								.block
									table(class="w-full")
										tr.border-grey-lighter.border-solid.border-b
											td.py-2.px-4 
												span.text-grey.text-3 Loan amount
											td.py-2.px-4  
												span.text-grey.text-3 1500000 RUB
										tr.border-grey-lighter.border-solid.border-b
											td.py-2.px-4 
												span.text-grey.text-3 Number of shares
											td.py-2.px-4 
												span.text-grey.text-3 15000 SCM
										tr.border-grey-lighter.border-solid.border-b
											td.py-2.px-4 
												span.text-grey.text-3 Cost of a share
											td.py-2.px-4 
												span.text-grey.text-3 100 RUB
										tr.border-grey-lighter.border-solid.border-b
											td.py-2.px-4 
												span.text-grey.text-3 Remaining a stake
											td.py-2.px-4 
												span.text-grey.text-3 0 SCM
							.shadow-md.mb-8
								.rounded.pl-4.py-4.bg-blue-light.rounded-b-none
									h3.text-4.text-white.uppercase.font-bold CONDITIONS
								.block
									table(class="w-full")
										tr.border-grey-lighter.border-solid.border-b
											td.py-2.px-4  
												span.text-grey.text-3 Planned profit
											td.py-2.px-4  
												span.text-grey.text-3 600000 RUB
										tr.border-grey-lighter.border-solid.border-b
											td.py-2.px-4 
												span.text-grey.text-3 Percentage of profit
											td.py-2.px-4 
												span.text-grey.text-3 50 %
										tr.border-grey-lighter.border-solid.border-b
											td.py-2.px-4 
												span.text-grey.text-3 Payment interval
											td.py-2.px-4 
												span.text-grey.text-3 3 months
										tr.border-grey-lighter.border-solid.border-b
											td.py-2.px-4 
												span.text-grey.text-3 Term of option
											td.py-2.px-4 
												span.text-grey.text-3 24 months
										tr.border-grey-lighter.border-solid.border-b
											td.py-2.px-4 
												span.text-grey.text-3 Loan repayment period
											td.py-2.px-4 
												span.text-grey.text-3 12 months
										tr.border-grey-lighter.border-solid.border-b
											td.py-2.px-4 
												span.text-grey.text-3 Implementation period
											td.py-2.px-4 
												span.text-grey.text-3 1 month
							.shadow-md.mb-8
								.rounded.pl-4.py-4.bg-blue-light.rounded-b-none
									h3.text-4.text-white.uppercase.font-bold CALCULATOR
								.px-4.py-4.border-grey-lighter.border-solid.border-b
									h4.text-3.text-grey.mb-2 Enter the number of shares*
									.block.relative.h-10.overflow-hidden.rounded.mb-4
										input.text-3.text-grey.border.rounded.border-solid.border-grey-light.h-full.pl-2(type="text", class="w-full", value="0.00")
										span.absolute.block.w-16.bg-grey-light.text-grey.text-3.h-full.text-center.pt-2(style="top: 0; right: 0;") Scm
								table(class="w-full")
									tr.border-grey-lighter.border-solid.border-b
										td.py-2.px-4  
											span.text-grey.text-4 Amount of investment
										td.py-2.px-4  
											span.text-grey.text-4 0 RUB
									tr.border-grey-lighter.border-solid.border-b
										td.py-2.px-4  
											span.text-grey.text-4 Amount of dividends
										td.py-2.px-4  
											span.text-grey.text-4 0 RUB
									tr
										td.py-2.px-4  
											span.text-grey.text-4 Dividend rate
										td.py-2.px-4  
											span.text-grey.text-4 0 %
								.px-4.py-4
									a(href="#" , class="inline-block w-full py-3 border border-white rounded leading-normal uppercase text-center font-bold bg-green text-white whitespace-no-wrap no-underline active:bg-green-light hover:bg-green-light") Bargaining
							.shadow-md.mb-8
								.rounded.pl-4.py-4.bg-blue-light.rounded-b-none
									h3.text-4.text-white.uppercase.font-bold PARTNERSHIP
								.block
									table(class="w-full")
										tr.border-grey-lighter.border-solid.border-b
											td.py-2.px-4  
												span.text-grey.text-3 Availability
											td.py-2.px-4  
												span.text-grey.text-3 No
									.py-4.px-4.pb-6 
										p.text-grey.text-3 Your affiliate link
										a.text-3.text-blue.no-underline(href="#", class="hover:underline") https://simex.global/en/projects/sibcryptmint/?investor=30019
							.shadow-md.mb-8
								.rounded.pl-4.py-4.bg-blue-light.rounded-b-none
									h3.text-4.text-white.uppercase.font-bold PARTNERSHIP
								.flex.flex-wrap.border-grey-lighter.border-solid.border-b.pl-4.py-4
									.w-24
										img(src="img/progect-one-fb.png")
										.text-center.pr-4
											a(href="#")
												i.fab.fa-facebook-f.mr-3.text-3.text-grey
											a(href="#")
												i.fab.fa-skype.text-3.text-grey
									.block 
										h4.text-4.uppercase.font-bold.text-blue-light Maksimov Maxim
										p.text-grey.text-3 Financial Director, 
										p.text-grey.text-3 Public Relations
										p.text-grey.text-3 
											i.fas.fa-phone.text-grey.text-3.mr-2
											a.no-underline.text-grey.text-3(href="tel:79609996969") 79609996969
										p.text-grey.text-3  
											i.fas.fa-envelope.text-grey.text-3.mr-2
											a.no-underline.text-grey.text-3(href="mailto:maksim.a.maksimov@mail.ru") maksim.a.maksimov@mail.ru
								.flex.flex-wrap.border-grey-lighter.border-solid.border-b.pl-4.py-4
									.w-24
										img(src="img/progect-one-fb.png")
										.text-center.pr-4
											a(href="#")
												i.fab.fa-facebook-f.mr-3.text-3.text-grey
											a(href="#")
												i.fab.fa-skype.text-3.text-grey
									.block 
										h4.text-4.uppercase.font-bold.text-blue-light Maksimov Maxim
										p.text-grey.text-3 Financial Director, 
										p.text-grey.text-3 Public Relations
										p.text-grey.text-3 
											i.fas.fa-phone.text-grey.text-3.mr-2
											a.no-underline.text-grey.text-3(href="tel:79609996969") 79609996969
										p.text-grey.text-3  
											i.fas.fa-envelope.text-grey.text-3.mr-2
											a.no-underline.text-grey.text-3(href="mailto:maksim.a.maksimov@mail.ru") maksim.a.maksimov@mail.ru
								.flex.flex-wrap.border-grey-lighter.border-solid.border-b.pl-4.py-4
									.w-24
										img(src="img/progect-one-fb.png")
										.text-center.pr-4
											a(href="#")
												i.fab.fa-facebook-f.mr-3.text-3.text-grey
											a(href="#")
												i.fab.fa-skype.text-3.text-grey
									.block 
										h4.text-4.uppercase.font-bold.text-blue-light Maksimov Maxim
										p.text-grey.text-3 Financial Director, 
										p.text-grey.text-3 Public Relations
										p.text-grey.text-3 
											i.fas.fa-phone.text-grey.text-3.mr-2
											a.no-underline.text-grey.text-3(href="tel:79609996969") 79609996969
										p.text-grey.text-3  
											i.fas.fa-envelope.text-grey.text-3.mr-2
											a.no-underline.text-grey.text-3(href="mailto:maksim.a.maksimov@mail.ru") maksim.a.maksimov@mail.ru






		include ../layout/footer.html
	</div>
</body>
</html>